# Logs
*/logs
*.log

# Dependency directories
*/node_modules/
node_modules/

# base image files
node_20alpine.tar

# Stores VSCode versions used for testing VSCode extensions
*/.vscode-test/
*/.vscode/
.vscode/

# Ignore sensitive info & environment variables
*.sha256
*.env