# Logs
*/logs
*.log

# Dependency directories
*/node_modules/
node_modules/

# Stores VSCode versions used for testing VSCode extensions
*/.vscode-test/
*/.vscode/
.vscode/

# Ignore sensitive info & environment variables
backend/config/config.env
*.sha256